@import './variables.scss';

html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: #FFFFFF;
  background: $accent-light;
}
