@import './variables.scss';

/** Helpers **/
@mixin def($type, $color) {
  .color-#{$type} {
    color: $color;
  }

  .color-#{$type}-hover:hover {
    color: $color;
  }
  
  .color-#{$type}-bg {
    background-color: $color;
  }

  .color-#{$type}-bg-hover:hover {
    background-color: $color;
  }

  .color-#{$type}-border {
    border-color: $color;
  }

  .color-#{$type}-border-focus:focus {
    border-color: $color;
  }
}

/** Light Theme **/
body:not([dark]) {
  color: $text-light;
  background-color: $background-light;

  @include def('background', $background-light);
  @include def('background-variant', $background-variant-light);
  @include def('gutter', $gutter-light);
  @include def('navigation', $navigation-light);
  @include def('text', $text-light);
  @include def('header', $header-light);
  @include def('accent', $accent-light);
  @include def('error', $error-light);
}

/* Dark Theme */
body[dark] {
  color: $text-dark;
  background-color: $background-dark;

  @include def('background', $background-dark);
  @include def('background-variant', $background-variant-dark);
  @include def('gutter', $gutter-dark);
  @include def('navigation', $navigation-dark);
  @include def('text', $text-dark);
  @include def('header', $header-dark);
  @include def('accent', $accent-dark);
  @include def('error', $error-light);
}
