/** Color Definitions **/
$background-light: #FFFFFF;
$background-dark: #121212;

$background-variant-light: #E4E4E4;
$background-variant-dark: #171717;

$gutter-light: #E0E0E0;
$gutter-dark: #1C1C1D;

$navigation-light: #9F9EA4;
$navigation-dark: #363636;

$text-light: #4E5152;
$text-dark: #545454;

$header-light: #141a20;
$header-dark: #E0E0E0;

$accent-light: #1976D2;
$accent-dark: #1976D2;

$error-light: #FF0000;
$error-dark: #FF0000;
