/** Color Definitions **/
$primary-light: #FFFFFF;
$primary-dark: #121212;

$primary-variant-light: #A0A0A0;
$primary-variant-dark: #272727;

$secondary-light: #141A20;
$secondary-dark: #DEDEDE;

$secondary-variant-light: #4C5259;
$secondary-variant-dark: #404040;

$accent-light: #4CAF50;
$accent-dark: #1B5E20;

$error-light: #FF0000;
$error-dark: $error-light;

$info-light: #0000FF;
$info-dark: $info-light;

$success-light: #00FF66;
$success-dark: $success-light;

$warning-light: #FFFF00;
$warning-dark: $warning-light;
