/** Color Definitions **/
$background-light: #FFFFFF;
$background-dark: #FF6600;

$background-variant-light: #E4E4E4;
$background-variant-dark: #FF6600;

$gutter-light: #E0E0E0;
$gutter-dark: #FF6600;

$navigation-light: #9F9EA4;
$navigation-dark: #FF6600;

$text-light: #4E5152;
$text-dark: #FF6600;

$header-light: #141a20;
$header-dark: #FF6600;

$accent-light: #1976D2;
$accent-dark: #1976D2;
