/** Color Definitions **/
$primary-light: #FFFFFF;
$primary-dark: #202020;

$primary-variant-light: #E6E6E6;
$primary-variant-dark: #363636;

$secondary-light: #363636;
$secondary-dark: #DEDEDE;

$accent-light: #4CAF50;
$accent-dark: $accent-light;

$error-light: #FF0000;
$error-dark: $error-light;

$info-light: #0000FF;
$info-dark: $info-light;

$success-light: #00FF66;
$success-dark: $success-light;

$warning-light: #FFFF00;
$warning-dark: $warning-light;
